@font-face {
    font-family: 'Iceberg';
    src: url('Iceberg-Regular.eot');
    src: local('Iceberg'), local('Iceberg-Regular'),
        url('Iceberg-Regular.eot?#iefix') format('embedded-opentype'),
        url('Iceberg-Regular.woff2') format('woff2'),
        url('Iceberg-Regular.woff') format('woff'),
        url('Iceberg-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

